<div class="data">
  <h2>data component</h2>
  <!-- Activated route -->
  <div >
    <p>Залогинился: {{email}}</p>
  </div>
  <!--  event binding -->
  <div>
    <button (click)="changeText()" style="color: pink;">клац</button>
  </div>
  <!--  interpolation -->
  <div>
    {{text}}
  </div>
  <!-- attribute binding -->
  <div>
    <input [attr.disabled]="disabled" type="text" value="сразу disabled и не меняется"/>
  </div>
  <!--  property binding-->
  <div>
    <button (click)="changeDisabled()">change disabled</button>
    <input type="text" [disabled]="disabled">
  </div>
  <div>
    <button (click)="changeCheckbox()">change check</button>
    <input type="checkbox" [checked]="checked">
  </div>
  <!-- условия -->
  <div *ngIf="disabled">
    <p>условный текст...</p>
  </div>
  <!-- циклы -->
  <div class="item-container">
    <div *ngFor="let item of items" class="item">{{item.name}}</div>
  </div>
  <!-- GET request-->
  <div>
    <button (click)="doGetRequest()">do get</button>
  </div>
  <!-- POST request-->
  <div>
    <button (click)="doPostRequest()">do post</button>
  </div>
  <!-- 2 стороннее связывание, ngModel -->
  <div>
    <input [(ngModel)]="inputValue">
    <p>v = {{inputValue}}</p>
  </div>

</div>
